.App {
    text-align: center;
}

.link-item-black {
    text-decoration: none;
    color: black;
}

.link-item-white {
    text-decoration: none;
    color: white;
}

.main-body-field {
    display: block;
    flex-direction: column;
    padding: 70px 5px;
    margin: 20px auto;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    max-width: 100%;
    border-radius: 30px;
}

/*Reset default styles for <NavLink>*/

.nav-link-item {
    color: inherit;
    text-decoration: none;
}

/* User table styles (Eugene)*/

#form-dialog-title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-dialog-title #form-title {
    flex-basis: 95%;
    text-align: center;
    padding-left: 8%;
}

.close-user-dialog-btn {
    right: 0;
}

.table-delete-edit-div {
    display: flex;
}

.user-table-btn {
    min-width: 20px !important;
}

.add-user-btn {

}

.user-table-wrapper {
    text-align: end;
}