.App {
    text-align: center;
}

.link-item-black {
    text-decoration: none;
    color: black;
}

.link-item-white {
    text-decoration: none;
    color: white;
}

/*Reset default styles for <NavLink>*/

.nav-link-item {
    color: inherit;
    text-decoration: none;
}

/* User table styles (Eugene)*/

#form-dialog-title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-dialog-title #form-title {
    flex-basis: 95%;
    text-align: center;
    padding-left: 20px;
}

.close-user-dialog-btn {
    right: 0;
}
