/* Table content (Eugene)*/

main {
    margin-top: 80px;
    /*margin-left: 240px;*/
    display: flex;
    justify-content: center;
}

.table-container {
    max-height: 700px;
    text-align: end;
}

.table-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header-right-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}


.table-header-wrapper h5 {
    margin-left: 13px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #3f51b5;
}

.add-table-btn {
    margin-right: 15px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.table-paper {
    border-radius: 30px;
    border-color: #3f51b5;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
    padding: 5px;
}

.main-table-paper {
    max-width: 100%;
    height: 100%;
    border-style: solid;
}

.table-delete-edit-div {
    display: flex;
}

.menu-table-btn {
    min-width: 20px !important;
    margin: 0 !important;
}


#form-dialog-title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3f51b5;
}


/* document info*/

.info-content {
    align-items: flex-start;
}

.direction-column {
    flex-direction: column;
}

#form-title {
    font-size: 1.6rem;
}

.info-content-row {
    display: flex;
    flex-direction: column;
}

.info-content-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Welcome, info, contacts, send email*/

.welcome-body {
    display: block;
    text-align: center;
}

.text-body h2 {
    text-align: center;
    width: 75%;
}

/*----------------------------*/

.link-item-black {
    text-decoration: none;
    color: black;
}

.link-item-white {
    text-decoration: none;
    color: white;
}

.header-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-body-field {
    display: block;
    flex-direction: column;
    text-align: center;
    padding: 30px 50px;
    margin: 80px 80px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    max-width: 100%;
    border-radius: 30px;
}

/*Reset default styles for <NavLink>*/

.nav-link-item {
    color: inherit;
    text-decoration: none;
}
