.calendar-wrapper {
    background-color: white;
    padding: 20px;
    width: 1350px;
    height: 720px;
    margin-bottom: 80px;
}

.direction-col {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.notice {
    background-color: white;
    height: 145px;
    width: 200px;
    padding: 15px;
}


.not-started-ev,
.completed-ev,
.current-ev {
    width: 25px;
    height: 10px;
    margin-right: 3px;
}

.not-started-ev {
    background: #f7daad;

}

.completed-ev {
    background: #93faab;

}

.current-ev {
    background: #b0f7f7;
}

.inline {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.btn-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}