/*.form-signin {*/
/*    background-color: white;*/
/*    padding-left: 40px;*/
/*    padding-right: 40px;*/
/*    padding-bottom: 40px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 2vmin);*/
/*}*/

.btn-row {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.error-message {
    color: #f50057;
    font-size: 12px;
}

.error-text {
    font-style: oblique;
    margin-bottom: 40px;
    font-size: 20px;
}
