.form-signin {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.btn-row {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.error-message {
    color: #f50057;
    font-size: 12px;
}

.error-text {
    font-style: oblique;
    margin-bottom: 40px;
    font-size: 20px;
}

.login-form {
    width: 380px;
    min-height: 200px;
    max-height: 240px;
}

.reset-password {
    text-align: right;
    color: #3f51b5;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 15px;
    cursor: pointer;
}

.reset-password:hover {
    text-decoration: underline;
}

.text-info {
    color: #5f6368;
    font-weight: 300;
    margin-bottom: 15px;
}