.mail-text {
    width: 550px;
    height: 300px;
    resize: none;
    font-size: 16px;
    border-color: rgba(0, 0, 0, 0.42);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mail-text:focus {
    border-width: 2px;
    border-color: #3f51b5;
    outline: rgba(0, 0, 0, 0.42);
}