.profile-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.profile-container h6,
.profile-container h5,
.profile-container h4,
.profile-container h3,
.profile-container p {
    color: #3f51b5 !important;
}

.profile-container h4 {
    margin-left: 10px;
}

.profile-content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.left-box {
    flex-basis: 50%;
}

.right-box {
    flex-basis: 50%;
}

.info-box .MuiListItem-gutters {
    padding: 0;
}

.info-box .MuiListItemText-multiline {
}

.phone-item-div {
    display: flex;
    justify-content: start;
}

.phone-item-div button {
    padding: 0;
}

/* forms styles */

.phone-form,
.password-form {
    display: flex;
    flex-direction: column;
}

.phone-form button {
    margin-top: 10px;
    width: 130px;
}

.password-form button {
    margin-top: 10px;
    width: 200px;
}


.password-dialog {
     width: 500px;
 }

.phone-dialog-container .MuiDialog-paperWidthSm {
    width: 300px;
}

.btn-form-wrapper {
    display: flex;
    justify-content: center;
}
